nltk
pandas
Flask
experta
pgmpy
scikit-learn
pandas
psycopg2
flask_sqlalchemy
python-dotenv
decouple
Flask-Migrate

Flask-Cors==4.0.1
Flask-Migrate==4.0.7      
Flask-Script==2.0.6       
Flask-SQLAlchemy==3.1.1 
Jinja2==3.1.4
MarkupSafe==2.1.5
