<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot de Apoyo Psicológico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="chat-container">
        <div id="chatbox" class="chatbox"></div>
        <input id="user-input" class="user-input" type="text" placeholder="Escribe tu mensaje aquí...">
        <button onclick="sendMessage()">Enviar</button>
        <button onclick="saveConversation()">Guardar Conversación</button>
    </div>

    <script>
        function sendMessage() {
            const userInput = document.getElementById('user-input').value;
            const chatbox = document.getElementById('chatbox');

            chatbox.innerHTML += `<div class="user-message">${userInput}</div>`;
            document.getElementById('user-input').value = '';

            fetch('/get_response', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `user_input=${userInput}`
            })
            .then(response => response.json())
            .then(data => {
                data.responses.forEach(response => {
                    chatbox.innerHTML += `<div class="bot-message">${response}</div>`;
                });
                chatbox.scrollTop = chatbox.scrollHeight;

                // Guardar la conversación al obtener la respuesta
                saveConversation(userInput, data.responses.join(' '));
            });
        }

        function saveConversation(userInput, responseText) {
            fetch('/save_conversation', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `user_input=${encodeURIComponent(userInput)}&response_text=${encodeURIComponent(responseText)}`
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    console.log('Conversación guardada exitosamente.');
                } else {
                    console.log('Error al guardar la conversación.');
                }
            });
        }
    </script>
</body>
</html>
