<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Chatbot de Apoyo Psicológico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <div class="left-section">
            <h2>Bienvenido</h2>
            <!-- <button onclick="location.href='{{ url_for('register') }}'">Registrarse</button>
            <button onclick="location.href='{{ url_for('login') }}'">Iniciar Sesión</button>Esto es un comentario en HTML -->
        </div>
        <div class="right-section">
            <h1>Chatbot de Apoyo Psicológico</h1>
            <p>Este programa está diseñado para proporcionar apoyo emocional y psicológico a través de un chatbot interactivo. Puedes contarle cómo te sientes o realizar una evaluación de tu salud mental. Nuestro objetivo es ofrecerte un espacio seguro y confidencial para que puedas expresar tus emociones y recibir orientación.</p>
        </div>
    </div>
</body>
</html>
